<!--The content below is only a placeholder and can be replaced.-->

<mat-sidenav-container class="sidebar-container" [class.myapp-dark-theme]="darkStatus">
  <mat-sidenav #sidenav mode="Over" position="end">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>

    <div class="site">
      <header>
        <app-header (sidebartoggle)="sidenav.toggle()" (changeTheme)="changeTheme($event)"></app-header>
      </header>
      <main>

        <router-outlet></router-outlet>

      </main>
      <footer>
        <app-footer></app-footer>
      </footer>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>