h2 {
    text-align: center;
}

.people_list {
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #eee;

    li {
        height: 50px;
        line-height: 50px;

        .form_input{
            width: 300px;
            height: 28px;
            // float: left;
        }
    }

    button {
        width: 100px;
        height: 30p;
        float: right;
        margin-right: 50px;
        margin-top: 40px;
    }


}
