<mat-card class="my-card">
    <mat-card-header>
        <div mat-card-avatar class="my-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-form-field>
            <input matInput type="text" placeholder="请输入账号">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="请输入密码">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <p><span>还未注册？</span><button mat-button>注册</button></p>
        <p><span>忘记了密码？</span><button mat-button>忘记密码</button></p>
    </mat-card-actions>
</mat-card>