<p>register works!</p>
<form>

    <mat-card class="my-card">
        <mat-card-header>
            <div mat-card-avatar class="my-header-image"></div>
            <mat-card-title>注册</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field class="full-width">
                <input matInput type="text" placeholder="请输入账号">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput type="text" placeholder="请输入姓名">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput type="text" placeholder="请输入邮箱">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput type="password" placeholder="请输入密码">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput type="password" placeholder="请再次输入密码">
            </mat-form-field>

            <mat-grid-list cols="8" rowHeight="1:1">
                <mat-grid-tile>1</mat-grid-tile>
                <mat-grid-tile>2</mat-grid-tile>
                <mat-grid-tile>3</mat-grid-tile>
                <mat-grid-tile>4</mat-grid-tile>
                <mat-grid-tile>5</mat-grid-tile>
                <mat-grid-tile>6</mat-grid-tile>
                <mat-grid-tile>7</mat-grid-tile>
                <mat-grid-tile>8</mat-grid-tile>
                <mat-grid-tile>9</mat-grid-tile>
                <mat-grid-tile>10</mat-grid-tile>
                <mat-grid-tile>11</mat-grid-tile>
                <mat-grid-tile>12</mat-grid-tile>
            </mat-grid-list>


            <div class="btn-position">
                <button mat-button type="button">注册</button>
            </div>
        </mat-card-content>
        <mat-card-actions class="text-right">
            <p><span>还未注册？</span><button mat-button>注册</button></p>
            <p><span>忘记了密码？</span><button mat-button>忘记密码</button></p>
        </mat-card-actions>
    </mat-card>


    <mat-card class="my-card">
        <mat-card-header>
            <div mat-card-avatar class="my-header-image"></div>
            <mat-card-title>每日佳句</mat-card-title>
            <mat-card-subtitle>每天都在进步</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <img mat-card-image
                src="https://c-ssl.duitang.com/uploads/item/201710/29/20171029104122_ivVNJ.thumb.700_0.jpeg" alt="">
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
    </mat-card>
</form>