<mat-nav-list>
    <h3 mat-subheader>项目</h3>
    <mat-list-item>
        <mat-icon matListIcon svgIcon="menusvg"></mat-icon>
        <span matLine>项目首页</span>
        <span matLine>查看您的所有项目</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>日历</h3>
    <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <span>日历首页</span>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <span>月视图</span>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <span>周视图</span>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <span>日视图</span>
    </mat-list-item>

</mat-nav-list>